<font size='6' color='blue'><b>ch03. 데이터 구조</b></font>
- 리스트 [] / 튜플 () / 딕셔너리 {} - 구조체와 유사 / 셋(집합)

# **1절 리스트**
## **1.1 리스트 만들기**
- [] 이용
- 인덱스 : 0부터 시작, -1은 맨 마지막 인덱스
- 슬라이싱([from:to:step])을 이용하여 추출

In [3]:
fruits = ['banana', 'apple', 'orage', 'grape', 0]
type(fruits)

list

In [5]:
print(fruits)

['banana', 'apple', 'orage', 'grape', 0]

In [6]:
print(fruits[0])

banana

In [7]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orage', 'grape', 0]

# C언어에서의 for문
for(int i=0; i<5; i++){
    printf("%d번째 %d\n", i, fruits[i])
}

In [8]:
for fruit in fruits:
    print(fruit)

mango
apple
orage
grape
0

In [11]:
for i in [0,1,2,3,4]:
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orage
3번째 과일은 grape
4번째 과일은 0

In [12]:
range(5)

range(0, 5)

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
len(fruits) # List fruits 요소의 개수

5

In [14]:
list(range(len(fruits)))

[0, 1, 2, 3, 4]

In [18]:
# 인덱스 사용할 때 for문 이렇게 안 씀
for i in range(len(fruits)):
    print("{}번째 과일은 {}".format(i, fruits[i]))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orage
3번째 과일은 grape
4번째 과일은 0

In [119]:
# ★★★for문에서 인덱스 사용할 땐, enumerate 사용★★★
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 orange
1번째 과일은 apple
2번째 과일은 mango
3번째 과일은 kivi

## **1.2 기본정보 조회**

In [25]:
numbers = [1,2,3,4,5]
print("요소의 수 :", len(numbers))
print("최소값 :", min(numbers))
print("최대값 :", max(numbers))

요소의 수 : 5
최소값 : 1
최대값 : 5

## **1.3 요소 추가**

- **리스트 + 리스트** : 두 리스트를 연결
- **리스트 * n** : 리스트를 n만큼 반복
- **append()** : 요소 뒤에 추가
- **extend()** : 리스트의 요소별로 뒤에 추가

In [27]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [29]:
numbers = [1,2,3]
print(numbers * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [33]:
# append()
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4, [5,6]]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [34]:
# extend()
numbers = [1,2,3,4]
num = [5,6]
# numbers를 [1,2,3,4,5,6] vs [1,2,3,4, [5,6]]
numbers.extend(num)
numbers

[1, 2, 3, 4, 5, 6]

In [35]:
numbers = [1,2,3,4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [36]:
numbers = [1,2,3,4]
numbers.extend('hello')
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## **1.4 인덱싱**
- **index(찾고자하는 값, 1)** : 찾고자하는 값이 1번 인덱스부터 찾아 그 위치를 반환
- **count(찾고자하는 값)** : 찾고자하는 값이 몇 번 나오는지 counter

In [40]:
numbers = [1,2,3, [1,2,3], 1,2,3]
print("2가 몇 개인지: {}".format(numbers.count(2)))
print("4가 몇 개인지: {}".format(numbers.count(4)))
print("5가 몇 개인지: {}".format(numbers.count(5)))

2가 몇 개인지: 2
4가 몇 개인지: 0
5가 몇 개인지: 0

In [41]:
2 in numbers # numbers 안에 2가 있는지 여부

True

In [44]:
numbers.index(2,3) # 3번째 인덱스부터 2가 처음 나오는 인덱스를 반환

5

## **1.5 리스트에 원하는 내용만 추출**
- <b>슬라이싱 [from:to:step]</b>을 이용 : 원하는 **인덱스**의 값 추출
- **리스트 컴프리헨션**을 이용 : 원하는 **데이터만** 추출

In [47]:
numbers = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [48]:
numbers[::2] # 인덱스가 짝수인 값을 추출

[1, 5, 10, 13, 19]

In [50]:
# 값이 짝수인 데이터만 추추
result = []
for num in numbers: # [1,3,5,9,10,12,13,18,19,20]
    if num%2 == 0:
        result.append(num)

result

[10, 12, 18, 20]

In [53]:
# 리스트 컴프리헨션
result = [num for num in numbers if num%2 == 0]
result

[10, 12, 18, 20]

```
- 리스트 컴프리헨션
result = [num for num in numbers]

- 위와 같은 내용의 for문
for num in numbers: # [1,3,5,9,10,12,13,18,19,20]
    if num%2 == 0:
        result.append(num)
```

In [62]:
# numbers 리스트의 제곱값을 리스트로 생성하여라 (컴프리헨션 사용)
numbers = [1,3,5]
result = []
for num in numbers:
    result.append(numbers)
result

[[1, 3, 5], [1, 3, 5], [1, 3, 5]]

In [55]:
numbers = [1,3,5]
result = [num**2 for num in numbers]
result

[1, 9, 25]

In [58]:
# 과일의 글자가 5글자 이상인 과일을 추출하세요
fruits = ["orange", "apple", "mango", "kivi"]
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', 'mango']

In [59]:
# 과일의 글자가 5글자 이상인 과일의 글자수를 출력하세요.
[len(f) for f in fruits if len(f)>=5]

[6, 5, 5]

## **1.6 삭제하기**
- **remove(data)** : 해당 data 제거
- <b>del 리스트변수[idx]</b> : idx번째 요소 제거
- **pop()** : 가장 마지막 인덱스 요소가 return 되고 삭제

In [65]:
numbers= [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [66]:
numbers.remove(1)
print(numbers)

[2, 3]

In [67]:
numbers.remove(9) # 없는 데이터 remove시 에러

ValueError: list.remove(x): x not in list

In [68]:
del numbers[0]
print(numbers)

[3]

In [69]:
del numbers

In [70]:
numbers

NameError: name 'numbers' is not defined

## **1.7 정렬하기**

In [74]:
numbers = [9,10,1,5,5]
numbers.sort() # 오름차순 정렬
numbers

[1, 5, 5, 9, 10]

In [75]:
numbers = [9,10,1,5,5]
numbers.sort(reverse=True) # 내림차순 정렬
numbers

[10, 9, 5, 5, 1]

## **1.8 리스트 복제**

In [82]:
numbers = [6,1,2]
new_numbers = numbers # 얕은 복사
numbers.sort()
print("정렬 전 데이터 :", numbers)
print("정렬 후 데이터 :", new_numbers)

정렬 전 데이터 : [1, 2, 6]
정렬 후 데이터 : [1, 2, 6]

In [84]:
numbers = [6,1,2]
new_numbers = numbers.copy() # 깊은 복사
numbers.sort()
print("정렬 전 데이터 :", numbers)
print("깊은 복사 후 데이터 :", new_numbers)
new_numbers.sort()
print("정렬 후 데이터 :", new_numbers)

정렬 전 데이터 : [1, 2, 6]
깊은 복사 후 데이터 : [6, 1, 2]
정렬 후 데이터 : [1, 2, 6]

# **2절 튜플**
- 리스트와 유사하지만 읽기 전용
- () 이용해서 생성

In [86]:
city = ('서울', '부산', '광주', '대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [87]:
'~'.join(city)

'서울~부산~광주~대전'

In [90]:
list_ = ['서울']
print(type(list_))
print(list_)

<class 'list'>
['서울']

In [91]:
t = ('서울')
print(type(t))
print(t)

<class 'str'>
서울

In [93]:
t = ('서울',) # 요소가 하나인 튜플은 뒤에 콤마(,) 필수
print(type(t))
print(t)

<class 'tuple'>
('서울',)

# **3절 딕셔너리**
- 구조체와 유사
- {}를 이용해서 생성. key-value쌍으로 구성
- value(값)은 중복 가능하나 key는 중복 불가
- index를 이용한 참조 불가

In [98]:
dic = {'name':'홍길동', 'address':'서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [102]:
dic['name'], dic['address']

('홍길동', '서울시 금천구')

In [103]:
dic[name] # ''해야됨

NameError: name 'name' is not defined

In [104]:
dic['score'] # 없는 건 에러남

KeyError: 'score'

In [105]:
dic.get('name'), dic.get('address'), dic.get('score')

('홍길동', '서울시 금천구', None)

In [106]:
# 수정
# 수정전 {'name':'홍길동', 'address':'서울시 금천구'}
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [107]:
# 제거
dic.pop('sport')

'sleep'

In [108]:
dic

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100}

- 인덱스가 없는 딕셔너리에서 enumerate 사용하기?

In [113]:
# 리스트(튜플, 셋) 방식으로 for문 사용하면 key만 출력
for key in dic:
    print(key)
for idx, value in enumerate(dic):
    print(idx, value)

name
address
score
0 name
1 address
2 score

In [114]:
dic.keys()

dict_keys(['name', 'address', 'score'])

In [115]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [117]:
dic.items() # ★★★for문에서는 itmes() 사용★★★

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [118]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [120]:
for key, value in dic.items():
    print("{} : {}".format(key, value))

name : 홍길동
address : 서울시 금천구
score : 100

- 딕셔너리에서는 **key값**이 **값의 여부**를 나타냄

In [121]:
l = ['a','b','c']
'c' in l

True

In [122]:
dic = {'name':'홍길동', 'score':100}
'name' in dic

True

In [123]:
'홍길동' in dic

False

In [124]:
len(dic) # 데이터의 개수

2

# **4절 셋**
- 중복을 허용하지 않는 집합 (순서x = 인덱스X)

In [129]:
# 리스트는 중복 허용
fruits = ['apple', 'orange', 'banana', 'banana', 'banana']
print(type(fruits))
print(fruits)

<class 'list'>
['apple', 'orange', 'banana', 'banana', 'banana']

In [130]:
# 셋은 중복 허용X
fruits = {'apple', 'orange', 'banana', 'banana', 'banana'}
print(type(fruits))
print(fruits)

<class 'set'>
{'banana', 'apple', 'orange'}

In [131]:
fruits = {'apple', 'orange', 'banana', 'banana', 0, 0}
print(type(fruits))
print(fruits)

<class 'set'>
{0, 'banana', 'apple', 'orange'}

In [132]:
fruits.add('kiwi')
print(fruits)

{0, 'kiwi', 'banana', 'apple', 'orange'}

In [134]:
fruits.add('banana')
print(fruits)

{0, 'kiwi', 'banana', 'apple', 'orange'}

In [136]:
for i, value in enumerate(fruits):
    print("{}:{}".format(i, value))

0:0
1:kiwi
2:banana
3:apple
4:orange

In [137]:
for data in fruits:
    print(data)

0
kiwi
banana
apple
orange

# **5절 연습문제**

- 다음 리스트가 주어졌을 경우 요구사항대로 코드를 작성하시오<br>
numbers = [1,2,3,4,5,6,7,8,9,10]

In [18]:
numbers = [1,2,3,4,5,6,7,8,9,10]

1. 숫자 100을 맨 뒤에 추가하세요

In [19]:
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요<br>
data = [200, 300, 400, 500]

In [20]:
data = [200, 300, 400, 500]
numbers += data
print(numbers)

# 정답 참고
numbers = [1,2,3,4,5,6,7,8,9,10,100]
numbers.extend(data)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

3. 처음 다섯 개 숫자만 출력하세요

In [189]:
numbers[:5]

[1, 2, 3, 4, 5]

4. 리스트에서 짝수 번째 데이터만 출력하세요

In [190]:
numbers[::2]

[1, 3, 5, 7, 9, 100, 300, 500]

5. 짝수 번째 데이터를 모두 0으로 바꾸세요

In [21]:
# 답안 풀이 참고 len(even[numbers[::2]]) 곱한 부분!
numbers[::2] = [0]*len(numbers[::2])
numbers

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]

6. 데이터를 역순으로 나열하세요 (내림차순 정렬이 아닙니다)

In [22]:
numbers[::-1]

[0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]

- 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요<br>
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}

In [54]:
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}

7. address값을 출력하세요

In [55]:
print(member['address'])
print(member.get('address'))

서울시 금천구
서울시 금천구

8. score를 출력하고 member 딕셔너리에서 삭제하세요.

In [56]:
# 방법1 - del은 삭제만
print(member['score'])
del member['score']
print(member)

# # 방법2 - pop는 출력되고 삭제됨
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}
print(member.pop('score'))
print(member)

90
{'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}
90
{'name': '홍길동', 'age': 20, 'address': '서울시 금천구'}

9. address를 '서울시 서대문구'로 변경하세요.

In [182]:
member['address'] = '서울시 서대문구'
member

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}

10. member 딕셔너리 데이터의 값을 리스트로 출력하세요

In [57]:
print(list(member.values()))
print(type(list(member.values())))

['홍길동', 20, '서울시 금천구']
<class 'list'>

In [58]:
# 키 값 출력
print(list(member.keys()))
print(type(list(member.keys())))

['name', 'age', 'address']
<class 'list'>